@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

body {
  font-family: "Roboto", Helvetica;
  margin: 0;
}
.room-card {
  display: flex;
  flex-direction: row;
}
.room-card img {
  border-radius: 10px;
  object-fit: cover;
}

.room-info {
  display: flex;
  flex-direction: column;
}

.room-info h5 {
  font-weight: 200;
}
