{{!-- EXPLORE CSS --}}
<link href="./css/explore.css" rel="stylesheet" />

 <section id="promo-section">


    <h2 style="font-weight: 600;">Explore nearby</h2>
    <div id="explore-section" class="container-fluid">
        <div class="row  d-flex justify-content-start"> 
            <div class="col explore-each">
                <img src="../images/explore/algonquin_park.jfif" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
                <div class="explore-suggestion">
                    <h5>Algonquin Park</h5>
                    <span>5.5-hour drive</span>
                </div>
            </div>
            <div class="col explore-each">
                <img src="../images/explore/toronto.jpg" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
                <div class="explore-suggestion">
                    <h5>Downtown Toronto</h5>
                    <span>1-hour drive</span>
                </div>
            </div>
            <div class="col explore-each">
                <img src="../images/explore/niagara_falls.jfif" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
                <div class="explore-suggestion">
                    <h5>Niagara Falls</h5>
                    <span>2-hour drive</span>
                </div>
            </div>
        <div class="col explore-each">
            <img src="../images/explore/niagara_on_the_lake.jfif" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
            <div class="explore-suggestion">
                <h5>Niagara on the Lake</h5>
                <span>2-hour drive</span>
            </div>
        </div>
        <div class="col explore-each">
            <img src="../images/explore/thousand-islands-national-park.jpg" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
            <div class="explore-suggestion">
                <h5>Thousand Islands</h5>
                <span>4.5-hour drive</span>
            </div>
        </div>
        <div class="col explore-each">
            <img src="../images/explore/prince_edward.jfif" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
            <div class="explore-suggestion">
                <h5>Prince Edward County</h5>
                <span>2.5-hour drive</span>
            </div>
    </div>
    <div class="col explore-each">
        <img src="../images/explore/sandbanks.jpg" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
        <div class="explore-suggestion">
            <h5>Sandbanks</h5>
            <span>3.5-hour drive</span>
        </div>
</div>
<div class="col explore-each">
    <img src="../images/explore/vaughan.jpg" style="width: 140px; height: 100px;" class="suggestion-thumbnail">
    <div class="explore-suggestion">
        <h5>Vaughan</h5>
        <span>1-hour drive</span>
    </div>
</div>
</div>
        </section>