<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <!-- The header MUST contain the logo of your Airbnb’s website and could 
        contain the navigation bar and any other content you deem necessary. -->
    </header>
    <navbar>
        <!-- The navigation bar can be within the header or defined as an 
        entirely new area. It MUST have links that navigate visitors to a sign-up
        page. Please note, instead of creating a separate page for the sign up page, 
        you can render it as modal pop-up boxes. Check : https://www.airbnb.ca/ for 
        example and inspiration. -->
    </navbar>
    <main>
        <form>
            <!-- The form can be placed anywhere you deem 
            aesthetically pleasing, the top area of the web page may be the most favorable. 
            The form should be designed similarly to the Figure 1.1 and should capture the 
            following data from the user : 
            o City in Canada where the user wants to book a room. This should be a 
drop-down list of at least four (4) cities/provinces in Canada
            o Check-in Date
            o Check-out Date
            o No of guestsFigure 1.1
        -->
        </form>
        <section id="promo-section">
<!-- This section should present a banner depicting a 
            promotion for your website. -->
        </section>
        <section id="info-section">

        </section>
    </main>
    <footer>
        <!-- This section must include footer menu items, social media links, and any 
other information you deem necessary -->
    </footer>
</body>
</html>