    
    <link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
<!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
<!-- DATERANGEPICKER CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link href="./css/main.css" rel="stylesheet">

    <title>Airbnb: Vacation Rentals, Cabins, Beach Houses, Unique Homes</title>
<body>

    <div class="bg-img">
    <header>
        <div class="container-fluid">
        <div class="navbar navbar-expand-lg navbar-light bg-transparent">
                <a class="navbar-brand" href="#"><img src="./images/logo@2x.png" style="width: 150px;" ></a>
            <div class="nav-right">
            <a href="#" style="color: white; display: block">Become a Host</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
              </svg>
            <div class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex flex-row justify-content-between align-items-center" id="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>    
                    </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                       <a href="#registration-modal" role="button" class="dropdown-item" data-bs-toggle="modal"
      data-bs-target="#registration-modal"
    >
      Sign up
    </a>
                      </li>
                  <li><a href="#login-modal" role="button" class="dropdown-item" data-bs-toggle="modal"
      data-bs-target="#login-modal" tabindex="-1"
      aria-labelledby="login-modal"
      aria-hidden="true"
    >Log in</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Host your home</a></li>
                  <li><a class="dropdown-item" href="#">Host an experience</a></li>
                  <li><a class="dropdown-item" href="#">Help</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>

    {{>registration}}
    {{>log-in}}

    </header>
    <div class="intro">
        <h5>Airbnb <span>2021</span></h5>
        <h4>Instroducing 100+ upgrades across our entire service</h4>
        <button>Learn what's new</button>
    </div>

    <form id="room-search">
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        {{!-- <input type="text" class="form-control" id="location" placeholder="Where are you going?" > --}}
        <select class="form-control" id="location" >
<option selected>Where are you going?</option>
<option value="Montreal">Montreal</option>
<option value="Vancouver">Vancouver</option>
<option value="Calgary">Calgary</option>
<option value="Hallifax">Hallifax</option>
</select>
      </div>
      <div class="form-divider"></div>
      <div class="mb-2 input-daterange">
        <label for="check-in" class="form-label">Check in</label>
        <input type="text" class="form-control" id="picker" date-provide="datepicker" placeholder="Add dates"></input>
    </div>
    <div class="form-divider"></div>
    <div class="mb-2 input-daterange">
        <label for="check-out" class="form-label">Check out</label>
        <input type="text" class="form-control" id="end-date" date-provide="datepicker" placeholder="Add dates"></input>
      </div>
      <div class="form-divider"></div>
      <div class="mb-2">
      <label for="guests" class="form-label">Guests</label>
<select class="form-control" id="guests" >
<option selected>Add guests</option>
<option value="1">1 guest</option>
<option value="2">2 guests</option>
<option value="3">3 guests</option>
<option value="4">4 guests</option>
</select>
</div>
<div class="mb-1">
    <button class="btn submit-btn" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
    </button>
</div>
    </form>
    </div>
    
    <main>
       
        {{> explore}}
        
{{> info}}

    </main>

{{> footer}}

<!-- JQUERY, BOOTSTRAP, MOMENT, DATEPICKER, POPPER JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> --}}

<!-- MOMENT, DATEPICKER, POPPER JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
$(function() {
  $('#picker').daterangepicker({
    opens: 'center',
    autoApply: true,
    autoUpdateInput: false
  }, function(start, end, label) {
      
      $('#picker').val(start.format('MMM-DD'));
      $('#end-date').val(end.format('MMM-DD'));
  });
});
</script>

</body>