@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");

body {
  font-family: "Roboto", Helvetica;
  margin: 0;
}

.modal-content {
  width: 600px;
  border-radius: 25px;
}
.registration-form {
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0 auto;
  padding: 30px 20px;
}
.sign-up-success {
  width: 560px;
  display: block;
  margin: 0 auto;
}
.social-media-login {
  text-align: center;
}

.registration-form a:link {
  text-decoration: none;
  /* color: #62b2e4; */
  font-weight: 600;
}

.form-divider p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(228, 228, 228);
  line-height: 0.1em;
  margin: 20px 0 10px;
}
.form-divider p span {
  display: inline-block;
  background: #fff;
  padding: 0 8px;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 15px 0;
  padding: 10px;
  align-items: center;
}
.form-group svg {
  padding: 0;
}
.form-control {
  border: 0px !important;
  background-color: none !important;
  font-size: 16px;
  padding: 0;
}
.sign-up {
  border: 0;
  font-size: 16px;
  font-weight: 500;
  background-color: #ff385c;
  color: white;
  width: 100%;
}
.form-group.submit {
  background-color: #ff385c;
}

.form-row {
  width: 560px;
  display: flex;
  justify-content: space-between;
}

.form-select {
  color: dimgray;
}

.alert {
  border-radius: 8px;
}
.alert > p {
  margin-bottom: 0;
}
